* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}
.none {
  display: none;
  /* ボックスごと非表示 */
}
.hidden {
  text-indent: 100%;
  white-space: nowrap; /* 改行せずに表示 */
  overflow: hidden;
  /* ボックスの中身が不可視 */
}
body {
  width: 100%;
  height: 100%;
}

.icon {
  width: 120px;
  height: 120px;
}
html {
  background: #343e4d;
  font-family: "Avenir", Helvetica, Arial, "system-ui", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

header {
  background: #1a1f27;
  height: 120px;
  color: white;
  font-style: italic;
  text-align: center;
  border-bottom: 2px solid wheat;

  /* padding: 20px; */
}
.header_images {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  padding: 0 10px;
  width: calc(100% - 40px);
  height: 100%;
}

.main_top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 25px;
}
.info-line {
  margin: 20px;
  font-size: 20px;
}

.list-index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.addlist {
  margin: 0 10px auto;
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  min-width: 320px;
  width: 320px;
  padding-bottom: 40px;
}

.text-input {
  padding: 20px 15px;
  width: calc(100% - 30px);
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-family: "Noto Sans Japanese", "Noto Sans", "system-ui", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: black;
  cursor: pointer;
  overflow: overlay;
  margin: 0 auto;
  text-align: center;
  border-bottom: solid 4px #7c8599;
  margin: 0 auto;
}
.text-input:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px); /*下に動く*/
  border-bottom: none; /*線を消す*/
}

.text-input:focus {
  outline: 0;
  cursor: initial;
}
.addlist {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.add-button {
  margin: 0 auto;
  margin-top: 15px;
  padding: 15px 18px;
  background-color: #999;
  border: none;
  border-radius: 8px;
  font-family: "Noto Sans Japanese", "Noto Sans", "system-ui", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}

.add-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.active .text-input {
  background-color: #fff;
  font: none;
}

.active > input {
  text-decoration: none;
}

.addable .add-button {
  background-color: #00d78f;
  pointer-events: auto;
  cursor: pointer;
}

.add-button:active {
  background-color: #00d78f;
}

.list {
  margin: 20px 5px auto;
  position: relative;
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  min-width: 290px;
  width: 290px;
  background-color: #8c8b8b;
  border-radius: 8px;
  padding: 15px;
  border: solid #ddd 1px;
  color: gray;
  vertical-align: top;
}

.listheader {
  width: 290px;
  display: inline-flex;
  justify-content: space-between;
}

.list-title {
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  color: rgba(46, 30, 30, 0.707);
}

/* トータルの文字 */
.list-counter {
  color: #ffffff;
  padding: 25px;
  font-size: 15px;
  font-weight: bold;
}

.deletelist {
  position: absolute;
  top: 3px;
  right: 14px;
  font-size: 28px;
  font-weight: bold;
  color: rgb(63, 57, 57);
}

.deletelist:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  padding: 30px 15px 40px;
  background-color: #fff;
  border-radius: 8px;
  width: 260px;
  cursor: pointer;
}

/* 閉じるボタン */
.close-button {
  position: absolute;
  top: 6px;
  right: 5px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 3px;
  border-color: red;
  border-style: solid;
  background-color: red;
  color: white;
  margin: 3px;
}

.body {
  font-size: 18px;
  width: 100%;
  word-wrap: break-word;
}

/* input色変え */
.active .text-input {
  width: 260px;
  background-color: rgb(255, 0, 0);
}

/* button */
.addable .add-button {
  background-color: #00d78f;
  pointer-events: auto;
  cursor: pointer;
}
.active .text-input {
  background-color: #fff;
}

.alltask {
  color: #ccc;
  font-size: 30px;
}
.addcard {
  text-align: center;
}
